@using Database.DAL.Entities.Chat.PrivateChat 
@model Website.ViewModels.Chats.PrivateChatViewModel
@{ Layout = null; }
<li id="chat-@Model.PrivateChat.Id" class="chat" data-private-chat-id="@Model.PrivateChat.Id" data-receiver-user-id="@Model.ReceiverId">
    <div class="chat_title">
        <a href="/profile?id=@Model.ReceiverId">
            <div class="chat_title_receiver">
                @Model.ReceiverName
            </div>
        </a>
    </div>
    <div class="chat_preview_message">
        @if (Model.LastMessage is PrivateChatUserMessage privateUserMessage)
        {
            <div class="message_sender">@privateUserMessage.Sender.Name</div>
            <div class="message-content">@privateUserMessage.Text</div> }
        else
        {
            if (Model.LastMessage != null)
            {
                <div class="message-content">@Model.LastMessage.Text</div>
            }
        }
    </div>
</li>