@model Database.DAL.Entities.PostReport
@{
    Layout = null;
}
<li id="report-@Model.Id" class="report"  post-id="@Model.Post.Id" sender-id="@Model.Sender.Id">
    <div class="report_title">
        <div class="report_sender report_title_item">
            <a href="/profile?id=@Model.Sender.Id">
                Отправитель: @Model.Sender.Name
            </a>
        </div>  
        <div class="report_target report_title_item">
            <a href="/profile?id=@Model.Post.Owner.Id#post-@Model.Post.Id">
                Запись
            </a>
        </div>
        <div class="report_type report_title_item">
            @Model.ReportType.Name
        </div>
        <div class="report_state report_title_item">
            @Model.ReportState.Name
        </div>
    </div>
    <div class="report_content">
        <div class="report_sender_msg">
            <div>
                Комментарий:
            </div>
            <div>
                @Model.Commentary
            </div>
        </div>
        <button class="report_close">Закрыть</button>
    </div>
</li>