@using Website.ViewModels
@model Website.ViewModels.PostReportViewModel
@{
    Layout = null;
}
<li id="report-@Model.Id" class="report" report-id="@Model.Id"  post-id="@Model.PostId" sender-id="@Model.Sender.Id">
    <div class="report_title">
        <div class="report_sender report_title_item">
            <a href="/profile?id=@Model.Sender.Id">
                Отправитель: @Model.Sender.Name
            </a>
        </div>  
        <div class="report_target report_title_item">
            @if (Model.Post is UserPostViewModel userPost)
            {
                <a href="/profile?id=@userPost.Owner.Id#post-@Model.PostId">
                    Запись
                </a>
            }
            else
            {
                <div>Write Me</div>
            }
        </div>
        <div class="report_type report_title_item">
            @Model.ReportType
        </div>
        <div class="report_state report_title_item">
            @Model.ReportState
        </div>
    </div>
    <div class="report_content">
        <div class="report_sender_msg">
            <div>
                Комментарий:
            </div>
            <div>
                @Model.Commentary
            </div>
        </div>
        <form asp-action="CloseReport">
            <input type="hidden" name="reportId" value="@Model.Id" />
            <input type="submit" value="Закрыть жалобу" class="report-close" />
        </form>
        <form asp-action="CloseReportAndDeletePost">
            <input type="hidden" name="reportId" value="@Model.Id"/>
            <input type="submit" value="Удалить пост и закрыть жалобу" class="report-close-delete"/>
        </form>
    </div>
</li>