@model Website.ViewModels.ProfileViewModel
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    Name: @Model.User.Name
    Surname: @Model.User.Surname
    Patronymic: @Model.User.Patronymic
    Birthday: @Model.User.Birthday
    Country: @Model.User.Country
    Role: @Model.User.Role.Name
    Mail address: @Model.User.MailAddress
</div>
</body>
</html>