@model WriteMe.Database.DAL.Entities.Post
<li class="post">
    <div class="post_header">
        <div class="post_owner">
            <a href="/profile?id=@Model.OwnerId">
            @Model.Owner.Name
            </a>
        </div>
        <div class="post_quick_menu">
            <div class="quick_btn">
            </div>
            <div class="quick_btn">
            </div>
            <div class="quick_btn">
            </div>
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.Title))
    {
        <div class="post_title">
            @Model.Title
        </div>
    }
    <div class="post_description">
        @Model.Description
    </div>
    <div class="post_time">
        @Model.CreationDateTime.ToShortTimeString()
        @Model.CreationDateTime.DayOfWeek
    </div>
</li>